DATABASE_URL=postgresql://root:VRB1t7wqloBzs8qfaRNZZLAD@pishazmoon:5432/postgres
JWT_SECRET=xK9vPqL2mW7wRtN4bZ8jFsY3hH6dGeA5uC1oViW0kXzM7nBr4fQyE2aSdDg9UuIp
ADMIN_JWT_SECRET=Tn3wA8fRk5XzCv2Bm6JqYd9HsLp4GeUu7NiWo1FsZ0xMvK8rTbQyEa5ScDg3ViHm
ZARINPAL_MERCHANT_ID=00000000-0000-0000-0000-000000000000
ZARINPAL_SANDBOX=true
KAVENEGAR_API_KEY=
APP_URL=https://pishazmoun.liara.run
ADMIN_EMAIL=farhad.shadkam@gmail.com
ADMIN_PASSWORD=Farhad=134
